<div class="grid-container" *ngIf="datos">
  <h1 class="mat-h1">Historial de Canjeos de Materiales</h1>
  <p class="mat-body descripcionTitulo">
    A continuación el historial de canjeos de matariales para el usuario.
  </p>
  <mat-card class="card-usuario" *ngIf="datosUsuario">
    <mat-card-header>
      <h3 class="card-title">
        {{ datosUsuario.nombre }} {{ datosUsuario.primerApellido }}
        {{ datosUsuario.segundoApellido }}
      </h3>
    </mat-card-header>
    <mat-card-content>
      <div class="contenidoFlex">
        <mat-icon fontIcon="format_list_numbered_rtl"></mat-icon>
        <h3 mat-card-title>Total de Canjeos:</h3>
        <p>{{ datos.canjeos.length }}</p>
      </div>
      <div class="contenidoFlex">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/proyecto-centro-acopio.appspot.com/o/Imagenes%2FOtros%2Fmoneda.jpg?alt=media&token=1ddb658f-00c4-408b-b0a0-a1ae54db3aaf&_gl=1*11taqe0*_ga*MTQ0ODYwMTA4Ny4xNjk2Mzg1NzYw*_ga_CW55HF8NVT*MTY5ODgxNTg5NS41LjEuMTY5ODgxNjU2MS42MC4wLjA."
          alt=""
          style="width: 20px; height: 20px; margin-left: 5px; margin-right: 5px"
        />
        <h3 mat-card-title>Total de Eco-Monedas:</h3>
        <p>{{ datos.totalMonedas }}</p>
      </div>
    </mat-card-content>
  </mat-card>
  <hr />

  <mat-card *ngFor="let canjeo of datos.canjeos" class="lista">
    <mat-card-content>
      <div class="contenidoFlex">
        <mat-icon fontIcon="date_range"></mat-icon>
        <h3 mat-card-title>Fecha:</h3>
        <p>{{ canjeo.fecha | date }}</p>
      </div>
      <div class="contenidoFlex">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/proyecto-centro-acopio.appspot.com/o/Imagenes%2FOtros%2Fmoneda.jpg?alt=media&token=1ddb658f-00c4-408b-b0a0-a1ae54db3aaf&_gl=1*11taqe0*_ga*MTQ0ODYwMTA4Ny4xNjk2Mzg1NzYw*_ga_CW55HF8NVT*MTY5ODgxNTg5NS41LjEuMTY5ODgxNjU2MS42MC4wLjA."
          alt=""
          style="width: 20px; height: 20px; margin-left: 5px; margin-right: 5px"
        />
        <h3 mat-card-title>Eco-Monedas:</h3>
        <p>{{ canjeo.cantMonedas }}</p>
      </div>
      <div class="contenidoFlex">
        <mat-icon fontIcon="domain"></mat-icon>
        <p>{{ canjeo.centroAcopio.nombre }}</p>
      </div>
      <mat-card-actions>
        <button
          class="botonDetalle"
          mat-mini-fab
          aria-label="Mostrar Detalle"
          matToolTip="Mostrar Detalle"
          color="primary"
          (click)="detalleCanjeoMateriales(canjeo.id)"
        >
          <mat-icon [style.color]="'white'"> info </mat-icon>
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
