<div *ngIf="datos" class="info">
  <h1 class="mat-h1">{{ datos.nombre }}</h1>
  <button mat-button color="primary" [style]="{'margin-bottom': '15px'}" (click)="devolverse()">
    <mat-icon>arrow_back_ios</mat-icon> Ir Atrás
  </button>
  <mat-card>
    <mat-card-content>
      <div class="horario">
        <h4>Horario:</h4>
        <p>
          De {{ apertura }} a
          {{ cierre }}
        </p>
      </div>
      <div class="direccion">
        <h4>Dirección:</h4>
        <td>
          {{ distrito }}, {{ canton }},
          {{ provincia }}
        </td>
      </div>
      <div class="sennas">
        <h4>Señas:</h4>
        <p>{{ datos.direccionCentroAcopio.sennas }}</p>
      </div>
      <div class="telefono">
        <h4>Telefono:</h4>
        <p>{{ datos.telefono }}</p>
      </div>
      <div class="encargado">
        <h4>Encargado:</h4>
        <p>
          {{ datos.administrador.nombre }}
          {{ datos.administrador.primerApellido }}
          {{ datos.administrador.segundoApellido }}
        </p>
      </div>
      <hr />
      <div class="materiales">
        <h4>Materiales admitidos en el centro:</h4>
        <div *ngIf="datos.materiales" class="listadoMateriales">
          <div *ngFor="let item of datos.materiales" class="material">
            <div
              [style]="{
                'margin-left': '10px',
                'background-color': item.codColor
              }"
              class="color"
            ></div>
            <p>{{ item.nombre }}</p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
