<script src="https://gist.github.com/josuenoel/80daca657b71bc1cfd95a4e27d547abe.js"></script>
<div *ngIf="datos" class="info">
  <h1 class="mat-h1" [style.background-color]="datos.codColor">
    {{ datos.nombre }}
  </h1>
  <hr [style]="{ 'margin-bottom': '25px', 'margin-top': '15px' }" />
  <mat-card>
    <img
      mat-card-image
      src="{{ datos.imagen }}"
      alt="material"
      class="material-img"
    />
    <mat-card-content>
      <div class="dataContainer">
        <div>
          <h3 class="mat-h3">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/proyecto-centro-acopio.appspot.com/o/Imagenes%2FOtros%2Fmoneda.jpg?alt=media&token=1ddb658f-00c4-408b-b0a0-a1ae54db3aaf&_gl=1*11taqe0*_ga*MTQ0ODYwMTA4Ny4xNjk2Mzg1NzYw*_ga_CW55HF8NVT*MTY5ODgxNTg5NS41LjEuMTY5ODgxNjU2MS42MC4wLjA."
              alt=""
              style="width: 25px; height: 25px; margin-right: 5px"
            />
            Eco-Monedas:
            <span
              [style]="{
                'margin-left': '10px',
              }"
              class="mat-body"
              >{{ datos.monedasUnidad }}
            </span>
          </h3>
        </div>
        <div>
          <h3 class="mat-h3">
            <mat-icon>line_weight</mat-icon> Unidad de Medida:
            <span [style]="{ 'margin-left': '10px' }" class="mat-body">{{
              datos.unidadMedida
            }}</span>
          </h3>
        </div>
        <div>
          <h3 class="mat-h3">
            <mat-icon>color_lens</mat-icon> Color que le Representa:
            <div
              [style]="{
                'margin-left': '10px',
                'background-color': datos.codColor
              }"
              class="color"
            ></div>
          </h3>
        </div>
      </div>
      <hr [style]="{ 'margin-bottom': '25px', 'margin-top': '15px' }" />
      <div class="descripcionContainer">
        <h3 class="mat-h3"><mat-icon>description</mat-icon> Descripción</h3>
        <p class="mat-body">{{ datos.descripcion }}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="boton" mat-raised-button [mat-dialog-close]="true" color="accent">
        <mat-icon>close</mat-icon> Cerrar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
