<div class="grid-container">
  <h1 class="mat-h1">Centros de Acopio</h1>
  <p class="mat-body descripcionTitulo">
    A continuación una lista con los centros de acopio disponibles para
    reciclar, esto para el canjeo de Eco-Monedas
  </p>
  <hr [style]="" />
  <mat-grid-list [cols]="3" rowHeight="20em" gutterSize="5px">
    <mat-grid-tile *ngFor="let item of datos">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <h3 class="card-title">
            {{ item.nombre }}
          </h3>
        </mat-card-header>
        <mat-divider inset></mat-divider>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <p>
                <mat-icon>map</mat-icon> {{ item.direccionCentroAcopio.sennas }}
              </p></mat-list-item
            >
            <mat-list-item
              ><mat-icon>call</mat-icon> {{ item.telefono }}</mat-list-item
            >
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            class="boton"
            matTooltip="Detalle Centro Acopio"
            aria-label="Detalle Centro Acopio"
            (click)="detalleCentroAcopio(item.id)"
            xtended
          >
            <mat-icon>info</mat-icon>
            Ver más
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
