mat-card {
  min-width: 500px;
  max-height: 650px;
  overflow: scroll;
}

h1 {
  text-align: center !important;
  width: 100%;
}

.contenidoFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

table {
  width: 100%;
}

.dataConIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.boton {
  color: white !important;
  font-weight: bold;
  font-size: larger;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 100%;
  vertical-align: bottom;
  transition: all 0.2s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.boton:hover {
  filter: brightness(90%);
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
}