<div id="container" *ngIf="datos">
  <mat-card>
    <mat-card-header>
      <h1 class="mat-h1">ECO-SYSTEM</h1>
    </mat-card-header>
    <mat-card-content>
      <hr />
      <qrcode *ngIf="qrdata" [qrdata]="qrdata" [width]="100"  [errorCorrectionLevel]="'M'"></qrcode>
      <div class="contenidoFlex">
        <h4 class="mat-h4">Cliente:</h4>
        <p class="mat-h4">
          {{ datos.billetera.cliente.nombre }}
          {{ datos.billetera.cliente.primerApellido }}
          {{ datos.billetera.cliente.segundoApellido }}
        </p>
      </div>
      <mat-divider></mat-divider>
      <div class="contenidoFlex">
        <h4 class="mat-h4">Fecha:</h4>
        <p class="mat-h4">{{ datos.fecha | date }}</p>
      </div>
      <mat-divider></mat-divider>
      <div class="contenidoFlex">
        <h4 class="mat-h4">Hora:</h4>
        <p class="mat-h4">{{ fecha }}</p>
      </div>
      <mat-divider></mat-divider>
      <div class="contenidoFlex">
        <h4 class="mat-h4">Centro de Acopio:</h4>
        <p class="mat-h4">{{ datos.centroAcopio.nombre }}</p>
      </div>
      <mat-divider></mat-divider>
      <table
        mat-table
        [dataSource]="datos.canjeoMaterialesDetalles"
        class="mat-elevation-z1"
      >
        <ng-container matColumnDef="material">
          <th mat-header-cell *matHeaderCellDef>Material</th>
          <td mat-cell *matCellDef="let canjeo">
            {{ canjeo.material.nombre }}
          </td>
        </ng-container>
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef>Cantidad</th>
          <td mat-cell *matCellDef="let canjeo">
            {{ canjeo.cantidadUnidades }} {{canjeo.material.unidadMedida}}(s)
          </td>
        </ng-container>
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef>Precio x Unidad</th>
          <td mat-cell *matCellDef="let canjeo">
            {{ canjeo.material.monedasUnidad }} Eco-Moneda(s)
          </td>
        </ng-container>
        <ng-container matColumnDef="subtotal">
          <th mat-header-cell *matHeaderCellDef>SubTotal</th>
          <td mat-cell *matCellDef="let canjeo">
            {{ canjeo.cantMonedas }} Eco-Moneda(s)
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
      <mat-divider></mat-divider>
      <div class="contenidoFlex">
        <h4 class="mat-h4">Total:</h4>
        <p class="mat-body dataConIcon">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/proyecto-centro-acopio.appspot.com/o/Imagenes%2FOtros%2Fmoneda.jpg?alt=media&token=1ddb658f-00c4-408b-b0a0-a1ae54db3aaf&_gl=1*11taqe0*_ga*MTQ0ODYwMTA4Ny4xNjk2Mzg1NzYw*_ga_CW55HF8NVT*MTY5ODgxNTg5NS41LjEuMTY5ODgxNjU2MS42MC4wLjA."
            alt=""
            style="
              width: 20px;
              height: 20px;
              margin-left: 5px;
              margin-right: 5px;
            "
          />
          {{ datos.cantMonedas }}
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="boton" mat-raised-button color="accent" (click)="close()">
        <mat-icon>close</mat-icon> Cerrar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
