
  h1 {
    text-align: center !important;
    width: 100%;
  }
  
  .contenidoFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
  }

  #encabezadoContenedor p{
    color: cadetblue;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: x-large;
  }
  
  table {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .dataConIcon {
    display: flex;
    align-items: center;
  }
  
  td, th {
    text-align: center !important;
    vertical-align: middle !important;
  }

  mat-icon{
    color: #000;
  }

  #canjeoMaterialesContainer{
    overflow: scroll;
    max-height: 90vh;
  }

  #Cuadro{
    height: 10px;
  }
  
  h3{
    margin: 5px 0px 15px 0px;
  }

  mat-card, .botonCerrar{
    margin: 5px 10px 5px 10px;
  }

  mat-card-footer{
    text-align: right;
    margin: 0px 25px 0px 15px ;
  }

  .user-label{
    position: absolute;
    left: 15px;
  }

  .full-width {
    width: 100%;
  }
  
  .full-height {
    height: 100%;
  }
  
  .botones {
    height: 40px;
    padding: 1.3em 3em;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    background-color: lightgray !important;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

  }
  
  #botonBuscar:hover {
    background-color: cadetblue !important;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-7px);
    
    #icono{
      color: white;
    }
  }

  #botonReset:hover {
    background-color: red !important;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-7px);
    
    #icono{
      color: white;
    }
  }

  #botonAceptar:hover {
    background-color: green !important;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-7px);
    
    #icono{
      color: white;
    }
  }
  
.center {
  text-align: right;
  margin: 0 auto 0 auto;
}

.botonCerrar{
  font-weight: bold;
  background-color: red;
  margin: 0%;
}

#canjeoMaterialesContainer{
  background-color: whitesmoke;
}

td{
  text-align: left !important;
  height: 80px;
}

.cantMaterial{
  margin: 20px 10px 0px 0px;
  width: 80px;
}

#imagenCarrito{
  width: 250px;
  height: 250px;
  margin: 0px auto 0px auto;
}

#footherDetalle{
  display: flex;
  align-items: center;
}

#icono{
  
  transform: scale(1.5);
  color: #000;
}