<div id="canjeoMaterialesContainer" class="grid-container">
 <mat-card>
  <mat-card-content>
    <div>
      <div  class="contenidoFlex" id="encabezadoContenedor">
        <button mat-mini-fab [mat-dialog-close]="true"
        class="botonCerrar">
          <mat-icon style="color: white;">close</mat-icon>
        </button>
        <p>Canjeo de materiales por Eco-monedas</p>
      </div>
    </div>
  </mat-card-content>
 </mat-card>

  <!--Tarjeta que muestra los datos del Centro-->
  <mat-card *ngIf="centroAcopio">
    <mat-card-header>
      <mat-card-title
        ><h3>{{ centroAcopio.nombre }}</h3></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div class="contenidoFlex">
        <h4 class="mat-h4">Fecha:</h4>
        <p class="mat-body">{{ fecha | date : "MMMM d, y" }}</p>
      </div>
      <div class="contenidoFlex">
        <h4 class="mat-h4">Hora:</h4>
        <p class="mat-body">{{ fecha | date: "hh:mm a" }}</p>
      </div>
      <div class="contenidoFlex">
        <h4 class="mat-h4">Administrador:</h4>
        <p class="mat-body">
          {{ centroAcopio.administrador.nombre }}
          {{ centroAcopio.administrador.primerApellido }}
          {{ centroAcopio.administrador.segundoApellido }}
        </p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="total==0" style="text-align: center;">
    <mat-card-content>
      <img id="imagenCarrito" src="https://firebasestorage.googleapis.com/v0/b/proyecto-centro-acopio.appspot.com/o/Imagenes%2FOtros%2FimagenCarrito.jpg?alt=media&token=def8b608-81c0-4f31-8eaa-daa4b6ca7afd" alt="">
      <h4>Upss, todavía no hay materiales en la orden.</h4>
      <p>Agrega los materiales que reciba del cliente para poder realizar el canje.</p>
      <br>
      <button mat-raised-button class="botones" id="botonBuscar" [routerLink]="['/material']"  [mat-dialog-close]="true">
        <mat-icon id="icono">keyboard_arrow_left</mat-icon>
        Ir a materiales
      </button>
    </mat-card-content>
  </mat-card>

  <!--Tarjeta que muestra los datos del cliente-->
  <mat-card *ngIf="total>0">
    <mat-card-header>
      <mat-card-title><h3>Datos cliente</h3></mat-card-title>
    </mat-card-header>

    <!--Muestra si cliente esta cargado mediane ngIf-->
    <mat-card-content *ngIf="cliente">
      <div class="contenidoFlex">
        <h4 class="mat-h4">Nombre:</h4>
        <p class="mat-body">
          {{ cliente.nombre }} {{ cliente.primerApellido }}
          {{ cliente.segundoApellido }}
        </p>
      </div>
      <div class="contenidoFlex">
        <h4 class="mat-h4">Cedula:</h4>
        <p class="mat-body">{{ cliente.identificacion }}</p>
      </div>
      <div class="contenidoFlex">
        <h4 class="mat-h4">Correo:</h4>
        <p class="mat-body">{{ cliente.correo }}</p>
      </div>
      <div class="contenidoFlex">
        <h4 class="mat-h4">Direccion:</h4>
        <p class="mat-body">
          {{ cliente.distrito }}, {{ cliente.canton }},
          {{ cliente.provincia }} ({{ cliente.direccionUsuario.sennas }})
        </p>
      </div>
      <div class="center">
        <button mat-raised-button class="botones" id="botonBuscar" (click)="onResetCliente()">
          <mat-icon id="icono">refresh</mat-icon>
          Cambiar cliente
        </button>
      </div>
    </mat-card-content>

    <!--Muestra si cliente NO esta cargado mediane ngIf-->
    <mat-card-content *ngIf="!cliente">
      <p>Buscar cliente por correo:</p>

      <mat-form-field appearance="outline" class="full-width">
        <input class="input"
        matInput
        placeholder="ejemplo@correo.com"
        matNativeControl
        (keyup)="onCorreoChange($event)">
        <button matSuffix mat-icon-button color="primary" (click)="buscarCliente()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <!--Tarjeta que muestra los datos del canjeo de materiales-->
  <mat-card *ngIf="total>0">
    <mat-card-header>
      <mat-card-title><h3>Detalle de Canjeo</h3></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
        <ng-container matColumnDef="material">
          <th mat-header-cell *matHeaderCellDef>Material</th>
          <td mat-cell *matCellDef="let canjeo">
            {{ canjeo.material.nombre }}
          </td>
        </ng-container>
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef>Cantidad</th>
          <td mat-cell *matCellDef="let canjeo">
            <div class="contenidoFlex">
              <mat-form-field appearance="outline" class="cantMaterial">
                <input
                  matInput
                  id="cantidad"
                  type="number"
                  [(ngModel)]="canjeo.cantidadUnidades"
                  (change)="onCambioCantidad(canjeo)"
                />
              </mat-form-field>
              <p>   {{ canjeo.material.unidadMedida }}(s)</p>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef>Precio x Unidad</th>
          <td mat-cell *matCellDef="let canjeo">
            {{ canjeo.material.monedasUnidad }} Eco-Moneda(s)
          </td>
        </ng-container>
        <ng-container matColumnDef="subtotal">
          <th mat-header-cell *matHeaderCellDef>SubTotal</th>
          <td mat-cell *matCellDef="let canjeo">
            {{ canjeo.subtotal }} Eco-Moneda(s)
          </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let canjeo">
            <button mat-mini-fab class="botonCerrar">
              <mat-icon style="color: white;">remove_circle</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
    </mat-card-content>
    <mat-card-footer id="footherDetalle" class="center">
      <img
              src="https://firebasestorage.googleapis.com/v0/b/proyecto-centro-acopio.appspot.com/o/Imagenes%2FOtros%2Fmoneda.jpg?alt=media&token=1ddb658f-00c4-408b-b0a0-a1ae54db3aaf&_gl=1*11taqe0*_ga*MTQ0ODYwMTA4Ny4xNjk2Mzg1NzYw*_ga_CW55HF8NVT*MTY5ODgxNTg5NS41LjEuMTY5ODgxNjU2MS42MC4wLjA."
              alt=""
              style="
                width: 20px;
                height: 20px;
                margin-left: 5px;
                margin-right: 5px;
              "
            />
      <b>&nbsp;Total:&nbsp;&nbsp;&nbsp;</b>
      <p>{{ total }} Eco-Moneda(s)</p> 
    </mat-card-footer>
  </mat-card>

  <mat-card *ngIf="total>0">
    <mat-card-content>
      <div class="contenidoFlex">
          <button mat-raised-button class="botones" id="botonReset" (click)="onResetCanjeo()">
            <mat-icon id="icono">remove_circle</mat-icon>&nbsp; 
            Limpiar Datos
          </button> 
          <button mat-raised-button class="botones" id="botonAceptar" (click)="onCanjearMateriales()">
            <mat-icon id="icono">check_circle</mat-icon>&nbsp;
            Completar Orden
          </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>