<form [formGroup]="materialForm" (ngSubmit)="submitMaterial()" novalidate>
  <input type="hidden" formControlName="id" />
  <div id="flexForm">
    <mat-card>
      <mat-card-header>
        <h1 class="mat-h1">{{ titleForm }} Material</h1>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input
                matInput
                formControlName="nombre"
                placeholder="Plastico..."
              />
              <mat-error *ngIf="errorHandling('nombre', 'required')">
                El Nombre es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="errorHandling('nombre', 'minlength')">
                El Nombre debe tener <strong>3 caracteres</strong>
              </mat-error>
              <mat-error *ngIf="errorHandling('nombre', 'maxlength')">
                El Nombre debe tener maximo <strong> 100 caracteres</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Descripción</mat-label>
              <textarea
                matInput
                formControlName="descripcion"
                placeholder="El plastico puede..."
              ></textarea>
              <mat-error *ngIf="errorHandling('descripcion', 'required')">
                La Descripción es <strong>requerida</strong>
              </mat-error>
              <mat-error *ngIf="errorHandling('descripcion', 'minlength')">
                La Descripción debe tener minimo <strong> 10 caracteres</strong>
              </mat-error>
              <mat-error *ngIf="errorHandling('descripcion', 'maxlength')">
                La Descripción debe tener maximo
                <strong> 1000 caracteres</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Color</mat-label>
              <input
                type="color"
                matInput
                formControlName="codColor"
                placeholder="Color"
                (change)="onChangeColor()"
              />
              <mat-error *ngIf="errorHandling('codColor', 'required')">
                El Color es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Monedas por Unidad</mat-label>
              <input
                matInput
                formControlName="monedasUnidad"
                placeholder="5"
                type="number"
              />
              <mat-error *ngIf="errorHandling('monedasUnidad', 'pattern')">
                Las Monedas por Unidad deben ser un dato
                <strong>numérico</strong>
              </mat-error>
              <mat-error *ngIf="errorHandling('monedasUnidad', 'required')">
                Las Monedas por Unidad son <strong>requeridas</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col" *ngIf="unidadesMedida">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Unidad de Medida</mat-label>
              <mat-select
                placeholder="kilogramo..."
                formControlName="unidadMedida"
              >
                <mat-option *ngFor="let item of unidadesMedida" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="errorHandling('unidadMedida', 'required')">
                La Unidad de Medida es <strong>requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="center">
          <button mat-raised-button id="boton3" (click)="onBack()">
            Regresar
          </button>
          <button mat-raised-button id="boton2" (click)="onReset()">
            Reiniciar
          </button>
          <button
            mat-raised-button
            id="boton1"
            value="Aceptar"
            style="vertical-align: middle"
          >
            <p *ngIf="!cargando">Aceptar</p>
            <mat-spinner *ngIf="cargando" color="primary" diameter="20" />
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
    <mat-card id="dropzone">
      <h3 class="mat-h3">Imagen</h3>
      <ngx-dropzone
        accept="image/jpeg,image/jpg,image/png,image/gif"
        class="full-width full-height"
        [multiple]="false"
        (change)="onImagenSelect($event)"
      >
        <ngx-dropzone-label>Arrastra y Suelta!</ngx-dropzone-label>
        <ngx-dropzone-image-preview
          class="full-width full-height"
          ngProjectAs="ngx-dropzone-preview"
          *ngIf="imagen"
          [file]="imagen"
        >
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
    </mat-card>
  </div>
</form>
