<div class="grid-container">
  <h1 class="mat-h1">Materiales de Reciclaje</h1>
  <p class="mat-body descripcionTitulo">
    A continuación una lista con los productos de reciclaje que soportamos, esto
    para el canjeo de Eco-Monedas
  </p>
  <hr [style]="" />

  <div class="Categoria">
      <div id="filtro">
        <h3>Categoria:</h3>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <mat-form-field appearance="outline">
        <mat-select [value]="'TODOS'" (valueChange)="onFiltroChange($event)">
          <mat-option [value]="'TODOS'">TODOS</mat-option>
          <mat-option [value]="'CENTRO_ACOPIO'">
            POR CENTRO DE ACOPIO
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>

  <mat-grid-list [cols]="4" rowHeight="570px" gutterSize="5px" *ngIf="datosShow">
    <mat-grid-tile *ngFor="let material of datosShow.materiales">
      <mat-card class="material-card">
        <mat-card-header>
          <h3 class="card-title">
            {{ material.nombre }}
          </h3>
        </mat-card-header>
        <img
          mat-card-image
          src="{{ material.base64 ? material.base64 : '' }}"
          alt="material"
          class="material-img"
        />
        <mat-card-content>
          <p class="contenido">
            {{ material.monedasUnidad }}
            <img
              src="https://firebasestorage.googleapis.com/v0/b/proyecto-centro-acopio.appspot.com/o/Imagenes%2FOtros%2Fmoneda.jpg?alt=media&token=1ddb658f-00c4-408b-b0a0-a1ae54db3aaf&_gl=1*11taqe0*_ga*MTQ0ODYwMTA4Ny4xNjk2Mzg1NzYw*_ga_CW55HF8NVT*MTY5ODgxNTg5NS41LjEuMTY5ODgxNjU2MS42MC4wLjA."
              alt=""
              style="
                width: 20px;
                height: 20px;
                margin-left: 5px;
                margin-right: 5px;
              "
            />
            x {{ material.unidadMedida }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="botonDetalle"
            mat-mini-fab
            aria-label="Mostrar Detalle"
            matToolTip="Mostrar Detalle"
            [style.background-color]="material.codColor"
            (click)="detalleMaterial(material.id)"
          >
            <mat-icon [style.color]="'white'"> info </mat-icon>
          </button>
        </mat-card-actions>
        <mat-card-footer>
          <div [style.background-color]="material.codColor" class="color"></div>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
