<div class="container">
    <table style="width: 100%; height: 100%;">
        <tr>
            <td align="right">
                <mat-card class="card">
                    <mat-card-header class="header">
                        <mat-card-title class="titulo">
                            <h1>Misión</h1>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="contenido">
                        <p>Nuestra misión es ser la empresa número uno en el país con el control de residuos
                            electrónicos y combatir el cambio climático.</p>
                    </mat-card-content>
                </mat-card>


            </td>
            <td align="left">
                <mat-card class="card">
                    <mat-card-header class="header">
                        <mat-card-title class="titulo">
                            <h1>Visión</h1>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="contenido">
                        <p>Ofrecer diversas opciones de fácil acceso para impulsar el reciclaje de diversos productos
                            para combatir el cambio climático, a través de los diversos beneficios para nuestros
                            clientes.</p>

                    </mat-card-content>
                </mat-card>
            </td>
        </tr>
    </table>
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="https://firebasestorage.googleapis.com/v0/b/proyecto-centro-acopio.appspot.com/o/Imagenes%2FOtros%2Fimg01.jpg?alt=media&token=c8a0af93-08f9-4143-8db0-835efcdf091a"
                    alt="" width="100%" height="100%">
            </div>
            <div class="slide">
                <img src="https://firebasestorage.googleapis.com/v0/b/proyecto-centro-acopio.appspot.com/o/Imagenes%2FOtros%2Fimg02.jpg?alt=media&token=c022ff2f-c073-46ad-9731-7057fe6465df&_gl=1*8bmlu*_ga*MTQ0ODYwMTA4Ny4xNjk2Mzg1NzYw*_ga_CW55HF8NVT*MTY5ODczNzg5OC4zLjEuMTY5ODczOTM2OC40My4wLjA."
                    alt="" width="100%" height="100%">
            </div>
            <div class="slide">
                <img src="https://firebasestorage.googleapis.com/v0/b/proyecto-centro-acopio.appspot.com/o/Imagenes%2FOtros%2Fimg03.jpg?alt=media&token=bc3d6a05-87eb-4603-b641-b16b6be369b2&_gl=1*1hnwy5g*_ga*MTQ0ODYwMTA4Ny4xNjk2Mzg1NzYw*_ga_CW55HF8NVT*MTY5ODczNzg5OC4zLjEuMTY5ODczOTM4MS4zMC4wLjA."
                    alt="" width="100%" height="100%">
            </div>
            <div class="slide">
                <img src="https://firebasestorage.googleapis.com/v0/b/proyecto-centro-acopio.appspot.com/o/Imagenes%2FOtros%2Fimg04.jpg?alt=media&token=878687bb-0e96-495c-81ff-a4111570fb21&_gl=1*ae2u1w*_ga*MTQ0ODYwMTA4Ny4xNjk2Mzg1NzYw*_ga_CW55HF8NVT*MTY5ODczNzg5OC4zLjEuMTY5ODczOTM5MS4yMC4wLjA."
                    alt="" width="100%" height="100%">
            </div>
            <div class="slide">
                <img src="https://firebasestorage.googleapis.com/v0/b/proyecto-centro-acopio.appspot.com/o/Imagenes%2FOtros%2Fimg05.jpg?alt=media&token=2d19203c-39a5-4f77-9cb8-9417ad0ddd40&_gl=1*anq85l*_ga*MTQ0ODYwMTA4Ny4xNjk2Mzg1NzYw*_ga_CW55HF8NVT*MTY5ODczNzg5OC4zLjEuMTY5ODczOTQwMy44LjAuMA.."
                    alt="" width="100%" height="100%">
            </div>
            <div class="slide">
                <img src="https://firebasestorage.googleapis.com/v0/b/proyecto-centro-acopio.appspot.com/o/Imagenes%2FOtros%2Fimg06.jpg?alt=media&token=fc951f36-f6d6-4571-8a57-6d99596e5b74&_gl=1*661uc1*_ga*MTQ0ODYwMTA4Ny4xNjk2Mzg1NzYw*_ga_CW55HF8NVT*MTY5ODczNzg5OC4zLjEuMTY5ODczOTQxNC42MC4wLjA."
                    alt="" width="100%" height="100%">
            </div>
            <div class="slide">
                <img src="https://firebasestorage.googleapis.com/v0/b/proyecto-centro-acopio.appspot.com/o/Imagenes%2FOtros%2Fimg07.jpg?alt=media&token=938cd674-4cc8-433a-82f7-db6b354f4ad4&_gl=1*1v6k51t*_ga*MTQ0ODYwMTA4Ny4xNjk2Mzg1NzYw*_ga_CW55HF8NVT*MTY5ODczNzg5OC4zLjEuMTY5ODczOTQyNC41MC4wLjA."
                    alt="" width="100%" height="100%">
            </div>
            <div class="slide">
                <img src="https://firebasestorage.googleapis.com/v0/b/proyecto-centro-acopio.appspot.com/o/Imagenes%2FOtros%2Fimg08.jpg?alt=media&token=7d1291e5-ec75-48e2-9dad-194e2b2b2dd4&_gl=1*103cypm*_ga*MTQ0ODYwMTA4Ny4xNjk2Mzg1NzYw*_ga_CW55HF8NVT*MTY5ODczNzg5OC4zLjEuMTY5ODczOTQzMy40MS4wLjA."
                    alt="" width="100%" height="100%">
            </div>

        </div>
    </div>


    <h1>Materiales</h1>
    <div class="imagenes">
        <div *ngFor="let material of datos" style="background-image: url('{{ material.imagen }}');"
            [style.color]="material.codColor">
            <table style="width: 100%; height: 100%;">
                <tr>
                    <td class="top">
                        <h3 class="info">{{material.nombre}}</h3>
                    </td>
                </tr>
                <tr>
                    <td class="bot">
                        <button mat-raised-button class="boton" [routerLink]="['/material']">Ver más detalles</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>