.botones {
  margin: 10px 0px 10px 0px;
  height: 30px;
  width: 190px;
  padding: 1.3em 3em;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  background-color: lightgray !important;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

#boton:hover {
  background-color: cadetblue !important;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  color: #fff;
  transform: translateY(-7px);

  #icono {
    color: white;
  }
}

.contenidoFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  margin: 0px auto 0px auto;
  text-align: center;
}

.col{  
  margin: 0px auto 0px auto;
  text-align: center;
}

#icono {
  transform: scale(1.5);
  color: #000;
}
.login{
  padding: 80px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  color: #000;
  text-align: center;
  background-color: white;
}

#imagen{
  background-color: #016982;
  position:relative;
}

.ingresar {
  margin: 20px;
  text-align: center;
}


#info {
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 100px auto 100px auto;
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 15px;
  width: 500px;
  padding: 20px 20px 20px 20px; 
  font-weight: 50px;
  font-weight: bold;
}

#info .row .col{
  text-align: left;
}

#appIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#appIcon img {
  width: 120px;
  height: auto;
  transition: all 0.2s ease-in-out;
  margin-right: 5px;
}

#appIcon p {

  font-size: 30px;
  font-weight: bold;
}