.full-width {
  width: 100%;
}

textarea {
    min-width: 150px !important;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

button {
  margin-right: 15px;
}

#imagenPreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

#imagenPreview img {
  max-width: 150%;
  max-height: 150px;
  border-radius: 15px;
  object-fit: scale-down;
}