<form [formGroup]="cuponForm" (ngSubmit)="submitCupon()" novalidate>
  <input type="hidden" formControlName="id" />
  <div id="flexForm">
    <mat-card class="shipping-card">
      <mat-card-header>
        <h1 class="mat-h1">{{ titleForm }} Cupon</h1>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Nombre</mat-label>
              <input
                matInput
                formControlName="nombre"
                maxlength="50"
                placeholder="Caja de Leche..."
              />
              <mat-error *ngIf="errorHandling('nombre', 'required')">
                El Nombre es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="errorHandling('nombre', 'minlength')">
                El Nombre debe tener <strong>3 caracteres</strong>
              </mat-error>
              <mat-error *ngIf="errorHandling('nombre', 'maxlength')">
                El Nombre debe tener maximo <strong>3 caracteres</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Descripción</mat-label>
              <textarea
                matInput
                formControlName="descripcion"
                maxlength="500"
                placeholder="Caja de leche con..."
              ></textarea>
              <mat-error *ngIf="errorHandling('descripcion', 'required')">
                La Descripción es <strong>requerida</strong>
              </mat-error>
              <mat-error *ngIf="errorHandling('descripcion', 'minlength')">
                La Descripción debe tener <strong>20 caracteres</strong>
              </mat-error>
              <mat-error *ngIf="errorHandling('descripcion', 'maxlength')">
                La Descripción debe tener maximo <strong>500 caracteres</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field *ngIf="listaCategorias" class="full-width">
              <mat-label>Categoría</mat-label>
              <mat-select
                placeholder="ALIMENTOS"
                formControlName="categoria"
              >
                <mat-option *ngFor="let item of listaCategorias" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="errorHandling('categoria', 'required')">
                Categoría es <strong>requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Precio en Monedas</mat-label>
              <input
                type="number"
                matInput
                formControlName="monedasCupon"
                placeholder="5"
              />
              <mat-error *ngIf="errorHandling('monedasCupon', 'required')">
                El Precio es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="errorHandling('monedasCupon', 'pattern')">
                El Precio debe tener <strong>números con dos decimales</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Fecha de Inicio</mat-label>
              <input
                matInput
                [matDatepicker]="dp1"
                formControlName="fechaInicio"
                placeholder=""
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="dp1"
              ></mat-datepicker-toggle>
              <mat-datepicker #dp1 disabled="false"></mat-datepicker>
              <mat-error *ngIf="errorHandling('fechaInicio', 'required')">
                La Fecha de inicio es<strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Fecha Final</mat-label>
              <input
                matInput
                [matDatepicker]="dp3"
                formControlName="fechaFin"
                placeholder=""
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="dp3"
              ></mat-datepicker-toggle>
              <mat-datepicker #dp3 disabled="false"></mat-datepicker>
              <mat-error *ngIf="errorHandling('fechaFin', 'required')">
                La Fecha Final es<strong>requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="center">
          <button mat-raised-button id="boton3" (click)="onReset()">
            Reset
          </button>
          <button mat-raised-button id="boton2" (click)="onBack()">
            Regresar
          </button>
          <button mat-raised-button id="boton1" type="submit">
            <p *ngIf="!cargando">Guardar</p>
            <mat-spinner *ngIf="cargando" color="primary" diameter="20" />
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
    <mat-card id="dropzone">
      <h3 class="mat-h3">Imagen</h3>
      <ngx-dropzone
        accept="image/jpeg,image/jpg,image/png,image/gif"
        class="full-width full-height"
        [multiple]="false"
        (change)="onImagenSelect($event)"
      >
        <ngx-dropzone-label>Arrastra y Suelta!</ngx-dropzone-label>
        <ngx-dropzone-image-preview
          class="full-width full-height"
          ngProjectAs="ngx-dropzone-preview"
          *ngIf="imagen"
          [file]="imagen"
        >
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
    </mat-card>
  </div>
</form>
