.navbar-spacer {
    flex: 1 1 auto;
}

#appIcon {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#appIcon img {
    width: 55px;
    height: auto;
    transition: all 0.2s ease-in-out;
}

#appIcon:hover img {
    background-color: aliceblue;
    margin-right: 5px;
    border-radius: 50%;
}

#appIcon:active {
    transform: translate(5px);
}

#appIcon p {
    font-weight: bold;
}