<mat-toolbar color="primary">
  <a (click)="homeClick()" id="appIcon">
    <img src="icon.png" />
    <p>ECO SYSTEM</p>
  </a>
  <span class="navbar-spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<mat-toolbar class="scondtoolbar">
  <button mat-button class="button" [routerLink]="['/inicio']">
    <mat-icon class="material-icons color_white" fontIcon="home"></mat-icon>
    INICIO
  </button>
  <button mat-button class="button" [routerLink]="['/material']">
    <mat-icon class="material-icons color_white">recycling</mat-icon> MATERIALES
  </button>
  <button mat-button class="button" [routerLink]="['/cupon']">
    <mat-icon class="material-icons color_white" fontIcon="tag"></mat-icon>
    CUPONES
  </button>
  <button mat-button class="button" [routerLink]="['/centroacopio']">
    <mat-icon class="material-icons color_white" fontIcon="domain"></mat-icon
    >CENTROS DE ACOPIO
  </button>
  <button mat-button class="button" [matMenuTriggerFor]="canjeos">
    <mat-icon class="material-icons color_white" fontIcon="money"></mat-icon
    >CANJEOS
  </button>
  <mat-menu #canjeos>
    <button mat-menu-item [routerLink]="'/canjeomateriales'">
      <mat-icon
        class="material-icons color_black"
        fontIcon="history"
      ></mat-icon>
      Historial de Canjeo de Materiales
    </button>
  </mat-menu>
</mat-toolbar>
