.navbar-spacer {
  flex: 1 1 auto;
}

#appIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#appIcon img {
  width: 55px;
  height: auto;
  transition: all 0.2s ease-in-out;
  margin-right: 5px;
}

#appIcon:hover img {
  background-color: aliceblue;
  border-radius: 50%;
}

#appIcon:active {
  transform: translate(5px);
}

#appIcon p {
  font-weight: bold;
}

.button {
  width: min-content;
  color: white !important;
  font-weight: bold;
  font-size: medium;
  display: flex;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #006064;
  border-radius: 10px;
}

.button p {
  font-weight: bold;
}

.scondtoolbar {
  background-color: #0097a7;
  justify-content: center;
}

.material-icons.color_white {
  color: #ffffff;
}

.material-icons.color_black {
  color: black;
}
