<mat-toolbar color="primary">
  <a (click)="homeClick()" id="appIcon">
    <img src="icon.png" alt="" />
    <p>ECO SYSTEM</p>
  </a>
  <span class="navbar-spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<mat-toolbar class="scondtoolbar">
  <button mat-button class="button" [routerLink]="['/inicio']">
    <mat-icon class="material-icons color_white" fontIcon="home"></mat-icon>
    INICIO
  </button>
  <button mat-button class="button" [routerLink]="['/material']">
    <mat-icon class="material-icons color_white">recycling</mat-icon> MATERIALES
  </button>
  <button mat-button class="button" [routerLink]="['/cupon']">
    <mat-icon class="material-icons color_white" fontIcon="note"></mat-icon>
    CUPONES
  </button>
  <button mat-button class="button" [routerLink]="['/centroacopio']">
    <mat-icon class="material-icons color_white" fontIcon="domain"></mat-icon
    >CENTROS DE ACOPIO
  </button>
  <button mat-button class="button" [routerLink]="['/canjeomateriales']">
    <mat-icon class="material-icons color_white" fontIcon="history"></mat-icon>
    CANJEO DE MATERIALES
  </button>
  <button mat-button class="button" [matMenuTriggerFor]="administracionCentro">
    <mat-icon
      class="material-icons color_white"
      fontIcon="create_new_folder"
    ></mat-icon
    >ADMINISTRACIÓN POR CENTRO
  </button>
  <mat-menu #administracionCentro>
    <button mat-menu-item [routerLink]="'/canjeomateriales/all'">
      <mat-icon class="material-icons color_black" fontIcon="money"></mat-icon>
      CANJEO DE MATERIALES
    </button>
  </mat-menu>
  <button mat-button class="button" [matMenuTriggerFor]="administracion">
    <mat-icon
      class="material-icons color_white"
      fontIcon="create_new_folder"
    ></mat-icon
    >ADMINISTRACIÓN
  </button>
  <mat-menu #administracion>
    <button mat-menu-item [routerLink]="'/material/all'">
      <mat-icon class="material-icons color_black" fontIcon="recycling"></mat-icon>
      MATERIALES
    </button>

    <button mat-menu-item [routerLink]="'/centroacopio/all'">
      <mat-icon class="material-icons color_black" fontIcon="domain"></mat-icon>
      CENTROS DE ACOPIO
    </button>

    <button mat-menu-item [routerLink]="'/cupon/all'">
      <mat-icon class="material-icons color_black" fontIcon="note"></mat-icon>
      CUPONES
    </button>
    
  </mat-menu>
</mat-toolbar>
