
.botones {
  height: 40px;
  margin: 0px 0px 20px 0px;
  padding: 1.3em 3em;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  background-color: lightgray !important;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.ventana{
  overflow: none;
  background-color: #016982;
} 

.contenidoFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  margin: 0px auto 0px auto;
  text-align: center;
}
#opciones{
  color:white;
  background-color:#016982;
}

span{
  color: white !important;
}