<mat-card class="ventana">
  <mat-card-content>
    
    <mat-tab-group id="opciones" >
      <mat-tab label="Iniciar Sesión">
        <app-usuario-login></app-usuario-login>
      </mat-tab>
      <mat-tab label="Registrarse" >
        <app-usuario-form></app-usuario-form>
      </mat-tab>
    </mat-tab-group>

  </mat-card-content><!--
  <mat-card-actions>
      <button
        mat-raised-button
        color="accent"
        class="botones"
        [mat-dialog-close]="true"
      >
        <mat-icon id="icono">close</mat-icon> Cerrar
      </button>
  </mat-card-actions>-->
</mat-card>
