<div *ngIf="datos">
  <mat-card>
    <mat-card-header>
        <h2 color="primary" [style]="{ 'text-align': 'center', width: '100%' }">
          Billetera
        </h2>
      </mat-card-header>
    <mat-card-content class="dataContainer">
        <div class="disponibles">
            <h4>
              Disponibles: <strong>{{ this.datos.disponibles }}</strong>
            </h4>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/proyecto-centro-acopio.appspot.com/o/Imagenes%2FOtros%2Fmoneda.jpg?alt=media&token=1ddb658f-00c4-408b-b0a0-a1ae54db3aaf&_gl=1*11taqe0*_ga*MTQ0ODYwMTA4Ny4xNjk2Mzg1NzYw*_ga_CW55HF8NVT*MTY5ODgxNTg5NS41LjEuMTY5ODgxNjU2MS42MC4wLjA."
              alt=""
              style="width: 25px; height: 25px; margin-right: 5px"
            />
          </div>
          <div class="canjeados">
            <h4>
              Canjeados: <strong>{{ this.datos.canjeados }}</strong>
            </h4>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/proyecto-centro-acopio.appspot.com/o/Imagenes%2FOtros%2Fmoneda.jpg?alt=media&token=1ddb658f-00c4-408b-b0a0-a1ae54db3aaf&_gl=1*11taqe0*_ga*MTQ0ODYwMTA4Ny4xNjk2Mzg1NzYw*_ga_CW55HF8NVT*MTY5ODgxNTg5NS41LjEuMTY5ODgxNjU2MS42MC4wLjA."
              alt=""
              style="width: 25px; height: 25px; margin-right: 5px"
            />
          </div>
          <div class="recibidos">
            <h4>
              Recibidos:
              <strong>{{ datos.recibidos }}</strong>
            </h4>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/proyecto-centro-acopio.appspot.com/o/Imagenes%2FOtros%2Fmoneda.jpg?alt=media&token=1ddb658f-00c4-408b-b0a0-a1ae54db3aaf&_gl=1*11taqe0*_ga*MTQ0ODYwMTA4Ny4xNjk2Mzg1NzYw*_ga_CW55HF8NVT*MTY5ODgxNTg5NS41LjEuMTY5ODgxNjU2MS42MC4wLjA."
              alt=""
              style="width: 25px; height: 25px; margin-right: 5px"
            />
          </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="contenidoFlex">
          <button mat-raised-button class="botones" [mat-dialog-close]="true">
            <mat-icon id="icono">close</mat-icon>&nbsp; Cerrar
          </button>
        </div>
      </mat-card-actions>
  </mat-card>
</div>
